<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"
      rel="stylesheet"
    />
    <title>Smoked Home Page</title>
  </head>

  <body>
    <!-- render nav partial -->

    <video id="background-video" autoplay muted poster="">
      <source src="https://i.imgur.com/72jEOaV.mp4" type="video/mp4" />
    </video>
    <header>
      <h1>Smoked</h1>
      <h2><%- include('./partials/nav.ejs') %></h2>
    </header>
	<!-- AGE VERIFICATION -->
    <!-- <main>
      <article class="box">
        <h3>Are you over 21?</h3>
        <p>By clicking enter, I certify that I am over 21 years of age</p>
        <a href="#" class="btn1" id="refresh-page">ENTER</a>
        <a href="#" class="btn2" id="reset-session">EXIT</a>
        <small>Smoke Responsibily</small>
      </article>
      <div class="overlay-verify"></div>
    </main>
    <script>
      		jQuery(document).ready(function($) {
      			if (sessionStorage.getItem('advertOnce') !== 'true') {
      				$('.box').show(); 
      				} else {
      					$('.box').hide();
      				}

      				$('#refresh-page').on('click',function() {
      					$('.box').hide();
      					sessionStorage.setItem('advertOnce', 'true');
      				});
      				$('#reset-session').on('click',function(){
     				 $('.box').show();
   					   sessionStorage.setItem('advertOnce','');
      			});
      		});
    </script> -->
  </body>
</html>
