<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"
      rel="stylesheet"
    />
    <title>Smoked Home Page</title>
  </head>

  <body>
    <!-- render nav partial -->

    <video id="background-video" autoplay muted poster="">
      <source src="https://i.imgur.com/72jEOaV.mp4" type="video/mp4" />
    </video>
    <header>
      <h1>Smoked</h1>
      <h2><%- include('./partials/nav.ejs') %></h2>
    </header>
	<!-- AGE VERIFICATION -->
	<main>
	
  <!-- modal section -->
  <!-- <div class="bg-modal">
    <div class="modal-content">
      <img src="https://imgur.com/ESu7CeT" alt="">
      <p>Are you 21 years of age?</p>
      <form action="">
        <a href="" class="button1">Yes</a>
        <a href="https://giphy.com/explore/better-luck-next-time" class="button2">No</a>
      </form>
    </div>
  </div> -->
	</main>
  <script type="text/javascript">
    let confirmAction = confirm("Are you 21 years of age?")
    if (confirmAction) {
    }else{
    	window.location = "https://giphy.com/explore/better-luck-next-time";
    };
    
    // document.addEventListener('load', function() {
    //   document.querySelector('.bg-modal').style.display = 'flex';
    // });
    
    // document.querySelector('.button1').addEventListener('click',
    // function() {
    //   document.querySelector('.bg-modal').style.display= 'none';
    // });
   
</script>
   </body>
 </html>
