body {
    background-color: black;
    color: white;
    text-align: center;
}
h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 150px;
    margin-bottom: -20px;
}
h2{
    margin-top: 0;
    padding-top: 0;
    margin-left: 380px;
    font-size: 18px;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
a {
    margin: 10px;
    font-family: sans-serif;
}
a:link {
    color:blanchedalmond;
    text-decoration: none;
  }
  
  a:visited {
    color: blanchedalmond;
  }
  
  a:hover {
    color: rgba(73, 152, 28, 0.85);
    text-shadow: 1px 1px rgb(76, 85, 37);
  }


  /* AGE VERIFICATION
  a.btn1 {
      background-color: green;
      color: white;
      padding: 0.5em 0em;
  }

  a.btn2 {
    background-color: red;
    color: white;
    padding: 0.5em 0em;
}


.box {
    background: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
    margin: 0 auto;
    z-index: 9;
    width: 70%;
    height: 40%;
    display: table;
}

&:after{
    content: '';
    position: absolute;
    Z-index: 0; */

}