
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/style.css"/>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"
      rel="stylesheet"
    />
	<title>MEEN Auth Starter</title>
</head>

<body>
	<%- include('../partials/nav.ejs')  %>
	<h1>Register</h1>
	<form action='/users' method='POST' class="form">
		<label for="email">Email:</label>
		<input type="email" name="email" id="email" />

		<label for="password">Password:</label>
		<input type="password" name="password" id="password" />

		<input type="submit" value="Register" class="btn">
	</form>
</body>

</html>