<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"
      rel="stylesheet"
    />
    <title>Products List</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/products/new">Add a new product</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Consumed</h1>
        <ul class="container">
            <% for(let i = 0; i < products.length; i++){ %>
                <li>
                    <div class="style">
                    <a href="/products/<%=products[i]._id%>">
                        <image src="<%= products[i].img %>" alt="Product Image" />
                            <div class="text"><%= products[i].name %></div>
                    </a>
                </div>
 
                </li>
                <% } %>
        </ul>
    </main>
</body>
</html>