<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"
      rel="stylesheet"
    />
    <title>Add New Product</title>
</head>
<body>
    <header>
        <nav>  
            <a href="/">Home</a>
            <a href="/products">All Consumed Products</a>
</nav>
        <h1>Add A New Product</h1>
        
    </header>
    <main>
        <form action="/products" method="POST" class="form">
           Name: <input type="text" name="name" />
           Image: <input type="text" name="img" />
           Product Type: <input type="text" name="productType" />
           Strain: <input type="text" name="strain" />
           Indica, Sativa, or Hybrid: <input type="text" name="indicaSativa" />
           THC% <input type="text" name="thc" />
           Dispensary: <input type="text" name="dispensary" />
           Company: <input type="text" name="company" />
           Rating: <input type="text" name="rating" />
           Comments: <input type="text" name="comments" class="comment" />
            <input type="submit" value="Add New Product" class="btn"/>
        </form>
    </main>
</body>
</html>